body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;

}

img {
    height: auto;
    width: 300px;
    margin: 10px;
}

.container{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    background: gray;


    
}
.title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;

    background: black;

}


.gallery {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}